user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
    access_log /var/log/nginx/access.log main;
    sendfile on;
    tcp_nopush on;
    keepalive_timeout 65;
    server_tokens off;

    server {
        listen 443 ssl;
        server_name localhost;
        ssl_certificate /etc/nginx/selfsigned.pem;
        ssl_certificate_key /etc/nginx/selfsigned.key;

        location / {
            proxy_pass http://{{ dns_name }}:8080;
	        proxy_set_header X-Case-Study "kadmos";
            if ($http_x_case_study != "kadmos") {
                return 404;
            }
        }
    }
}